html {
  background-color: #7851a9 ;
}

body{
  color: #cfb53b;
  font-family: cursive;
}

nav{
  background-color: 	rgb(76,187,23)
}

aside{
  background-color: #36454F;
}

h1{
  box-shadow: #36454F;
}

nav, aside{
  color: darkred;
}

nav, aside:hover{
  color:aqua
}

li>a{
  text-decoration: none;
  color: pink;
}

li>a:hover{
 color: black;
}

li>a:visited {
  color:cadetblue;
}

section {
  border-style:ridge;
}

